<p id="notice"><%= notice %></p>

<h1 class="text-center">Latest art</h1>

<div class="row">
  <%= render @artworks %>
  <%= will_paginate @artworks %>
</div>

<%= link_to 'New Artwork', new_artwork_path %>
