<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.artwork.title %></td>
        <td><%= time_ago_in_words(purchase.created_at) %> ago</td>
        <td>$<%= purchase.amount %></td>
        <td><%= link_to 'View', artwork_path(purchase.artwork) %></td>
      </tr>
    <% end %>
  </tbody>
</table>