<h1 class="text-center">Dashboard</h1>

<div class="row">
  <div class="col-lg-4">
    <h3>Artworks <%= link_to 'Add New Listing', new_artwork_path, class: 'btn btn-sm btn-outline-info' %></h3>
    <%= render 'artworks' %>
  </div>
  <div class="col-lg-4">
    <h3>Purchases</h3>
    <%= render 'purchases' %>
  </div>
  <div class="col-lg-4">
    <h3>Sales</h3>
    <%= render 'sales' %>
  </div>
</div>